.myWorksBlock {
  min-height: 100vh;
  background-color: #212529;
  display: flex;
  align-items: center;
  padding: 0 0 48px;

  .myWorksContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    .myWorks {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 40px 0px 0px 0px;
    }
  }
}



