@import '../common/styles/sass/variables';

.myWorksBlock {
  min-height: 100vh;
  background-color: $bgColor;
  display: flex;
  align-items: center;
  padding: 50px 0;

  .myWorksContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    .myWorks {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 40px 0px 0px 0px;
    }
  }
}



