.work {
    width: 350px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 20px 20px 20px;
}

.preview {
    width: 100%;
    background-color: darkgray;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 3px;
    text-decoration: none;
    color: black;
    background: #eeeef5;
}

.button:hover {
    background: darkgray;
}

.description {
    background-color: rgba(176, 173, 182, 0.35);
    padding: 10px 20px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.projectName span, .shortDescription {
    background-color: rgba(153, 153, 153, 0.35);
}

.projectName {
    margin-bottom: 10px;
    display: flex;
}

.shortDescription {
    text-align: left;
    flex: 1 1 auto;
}