.header {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 4;
  width: 100%;
  @media screen and (max-width: 400px) {
    background-color: #242427 !important;
  }
}