.navs {
  display: none;

  .nav {
    padding: 0 0.85em;
    color: hsla(0, 0%, 98%, .9);
    transition: all .2s ease;
    text-decoration: none;

    &:hover {
      color: #ffc107;
    }
  }

  .active {
    color: #ffc107;
  }

  @media screen and (min-width: 400px) {
    display: flex;
  }

  li {
    list-style-type: none;
    cursor: pointer;
  }
}


