.mainBlock {
    height: 100vh;
    background-color: #ffb4f6;

}

.text {
    width: 300px;
    background-color: darkgray;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: darkgray;
}