@import './variables';

/*образец, поправить*/
@mixin text($fontfamily, $fontSize, $lineHeight) {
  font-family: $fontfamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
}