@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.distantWorkBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;

  .distantWorkContainer {
    @include container();
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media screen and (max-width: 450px) {
      padding: 0 20px;
    }
  }
}



