.distantWorkBlock {
    display: flex;
    align-items: center;
    background-color: lightyellow;
    padding: 70px 0;
}

.distantWorkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.distantWorkTitle{
text-align: center;
}

.button {
    margin: 15px;
}