.distantWorkBlock {
    display: flex;
    align-items: center;
    background-color: #343a40;
    padding: 70px 0;
}

.distantWorkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

